$colorWhite: #fff;
$colorBlack: #000;

$colorLightGray100: #1f1f1fc4;
$colorLightGray200: #353434a8;
$colorLightGray300: #4d4b4b3b;

$colorPurple50: #f2e7ff;
$colorPurple100: #d7b7fd;
$colorPurple200: #bb86fc;
$colorPurple300: #9e55fc;
$colorPurple400: #7f22fd;
$colorPurple500: #1a0b2da6;
