@import "../../styling/placeholders.scss";
@import "../../styling/colors.scss";

%headerFooterCommon {
	background-color: $colorLightGray100;
	color: $colorPurple100;
	border-radius: 4px;
}

.headerContainer {
	text-transform: uppercase;
	min-height: 64px;
	margin: 12px 0;
	font-size: 24px;
	@extend %center;
	@extend %headerFooterCommon;
}
.footerContainer {
	min-height: 50px;
	font-size: 12px;
	border-top: 1px solid gray;
	@extend %center;
	@extend %headerFooterCommon;
}
